.bodyclass
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    box-sizing: border-box;
}
.main
{
    width:100%;
    height:100%;
    overflow-y: auto;
}

.container
{
    max-width:100%;
    justify-content: center;
    margin: auto;
    height:100% !important
}

.title
{
    max-width: 80% !important;
    margin:auto !important;
    text-align: center !important;
    font-size:3em !important;
}

.menutitle
{
    max-width: 50% !important;
    margin:auto !important;
    text-align: center !important;
    font-size:2em !important;
    font-family: monospace;
}
.menucontainer
{
    width:90%;
    margin:auto;
}

.menucontent
{
    max-width: 90%!important;
    margin:auto;
    text-align: Left !important;
    background-color: White !important;
    border-radius: 1% !important;
}

.submenucontent
{
    max-width: 90%!important;
    margin:auto;
    text-align: left;
    font-size: 25px !important;
    font-family: cursive;
}
.menuitem
{
    margin-bottom: 6% !important;
}

.itemlabel
{
    font-size: 50px !important;
    border-bottom:5px solid black !important;
    font-weight: 600 !important;
}

.labelright
{
    float: right !important;;
}

.itemdescription
{
    font-size: 30px !important;
    color:gray;
}

.itemcategory
{
    font-size: 50px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6% !important;
}